if !session.user
  ul
    li
      a(href="/users/signin") Ingresar
    li
      a(href="/users/signup") Registrate
else
  ul
    li
      a(href="/users/logout") Salir
    li
      a(href="/users/profile") Perfil

h1 Bienvenido
p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ratione debitis praesentium officiis blanditiis temporibus dignissimos veritatis aspernatur numquam a velit, non vel, veniam architecto cupiditate ut fuga quis hic!
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quam rerum, dicta odio labore assumenda ex velit aut doloribus vitae illum nihil ipsa, laboriosam, molestias eum autem quo veniam voluptatibus?
p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi similique consectetur itaque accusantium quas veritatis quibusdam deleniti. Cum, unde. Incidunt aspernatur amet ullam deleniti quaerat omnis ab cum! Ut, doloribus?